.map-tile{
  height: 75px;
  width: 75px;
  background-color: #501177;
  margin: 0;
  padding: 0;
}

.tile{
  background-size: 100%;
  width: 75px;
  height: 75px;
}

.tile-long{
  background-size: 100% 100%;
  transform-origin: bottom;
  width: 75px;
  height: 75px;
  transform: scaleY(2);
}

@media only screen and (max-height: 1000px) and (max-width: 1200px)  {
  .map-tile{
    height: 50px;
    width: 50px;
    background-color: #501177;
    margin: 0;
    padding: 0;
  }

  .tile{
    background-size: 100%;
    width: 50px;
    height: 50px;
  }

  .tile-long{
    background-size: 100% 100%;
    transform-origin: bottom;
    width: 50px;
    height: 50px;
    transform: scaleY(2);
  }
}
